<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Dream Details</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/project_solo_app/">My Dreams</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/project_solo_app/new">Add A Dream</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/project_solo_app/inspiration">Inspiration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Dream #{{ dream.id }}</h1>
    <h4>Title</h4>
    <p>{{ dream.title }}</p>
    <h4>Mood</h4>
    <p>{{ dream.mood }}</p>
    <h4>Dream Date</h4>
    <p>{{ dream.dream_date|date:"SHORT_DATE_FORMAT" }}</p>
    <h4>Description</h4>
    <p>{{ dream.description }}</p>
    <h4>Last Updated:</h4>
    <p>{{ dream.updated_at }}</p>
    <a href="/project_solo_app/{{ dream.id }}/edit">Edit</a> | <a href="/project_solo_app/{{ dream.id }}/delete">Delete</a> 
</body>
</html>