<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Ein Sof</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <style>
        body {
            background-image: url('/project_solo/images/matt-howard-C0uLfBSEZK4-unsplash.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover;
        }
        </style>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Ein Sof | Journey into the Endless</h3>
            </div>
        </header>
    </div>

</body>
</html>